@import url('https://fonts.googleapis.com/css2?family=Mukta:wght&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Mukta', sans-serif;
}
#nav{
    background-color: black;
  

}
#nav-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

#nav-ul li {
    list-style: none;

}
#nav-ul li a{
text-decoration: none;
color: white;
}
#home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh; 
}
#head_1{
font-size: 2em;
font-family: 'Mukta', sans-serif;
animation-name: anima ;
animation-duration: 8s;
}
#head_2{
    animation-name: anima ;
animation-duration: 8s;
}
#head_3{
    animation-name: anima ;
animation-duration: 8s;
}


.img_1{
    max-width: 100%;
    height: auto;
    width: 160px;
    border-radius: 50%;
}

#about{
    height: 100vh;
}
#home_2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    h
    font-size: 0.85em;

}
#my_para{
width: 50vw;
text-align: justify;
}
#head_4{
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: 'Mukta', sans-serif;
}
#service{
    height: 100vh;

}
#services{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
#head_5{
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: 'Mukta', sans-serif;
}
.block{
    height: 40vh;
    width: 20vw;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
   
}
.block:hover{
  
  transform: scale(1.2);
}
#contact{
    height: 100vh;
}
#forms{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
#head_6{
    font-size: 2em;
    font-family: 'Mukta', sans-serif;
}
.form{
    border: 0;
    border-bottom: 2px solid grey;
    margin: 10px;
    width: 50vw;
}
.social {
    display: flex;
    justify-content: space-evenly;

 }
 .social a{
    text-decoration: none;
    color: black;
 }
 .link:hover{
    color: red;
 }
@keyframes anima {
   0%{
   color: white;
   }
   100%{
    color: black;
   }
}

@media (max-width: 500px){
#home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60VH;
    flex-direction: column;
}
#home_2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60VH;
    flex-direction: column;

}
#about{
    height: 70vh;
}
.block{
    width: 40vw;
    margin: 10px;
   

}
#service{
    height: 70vh;
}

#services{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    flex-direction: column;
}
#contact{
    height: 40vh;
}
}

@media (max-width:354px){
    #my_para{
        font-size:0.75em;
    }
    label{
        font-size: 0.75em;
    }
}



